{% extends('header.html') %}

{% block title %} STA signup {% endblock %}
	

{% block content %}
	
	
    <section id="header">
        <img src="{{ url_for('static', filename='assets/images/logo2.png') }}" class="logo"></img>

        <h1>
            Your #1 Trading Assistant
            <p>SIGNUP</p>
        </h1>


        <form action="/signup" method="POST">
            {{ form.hidden_tag() }}
            
            {{ form.fname.label }}
            {{ form.fname }}

            {{ form.lname.label }}
            {{ form.lname }}
            
            {{ form.email.label }}
            {{ form.email }}
            
            {{ form.password.label }}
            {{ form.password }}
            <div class="msg1">Password must contain <span class="symbol">symbols</span>, <span class="letter">letters</span>, and <span class="number">numbers</span>, and be at least <span class="character">8 characters long</span></div>
            
            {{ form.confirm_password.label }}
            {{ form.confirm_password }}
            <div class="msg2"></div>
            <input id="eye" type="checkbox" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'; document.getElementById('confirm_password').type = this.checked ? 'text' : 'password'"> 
            <label class="show-password-text" for="eye"><i class="fa fa-eye-slash fa-2x"></i><span> Show password</span></label>
          
            
            <div class="terms-box">
            	{{ form.checkbox }}
            	<label class="checkbox-label">By continuing you agree to our <a href="#">terms and conditions</a></label>
            </div>
            
            {{ form.submit }}
            
            <p class="text">already have an account <a href="/login">login</a> instead</p>
        </form>


    </section>

<script>
    console.log("this is the signup page")

    let checkbox = document.querySelector("#checkbox");

    document.querySelector("#checkbox").addEventListener("change", function(){
        console.log("wow this is happening")
        if (checked == false){
            btn.style.background = "black";
            btn.style.cursor = "pointer";
            btn.disabled = false;

            checked = true;
        } else {
            btn.style.background = "gray";
            btn.style.cursor = "not-allowed";
            btn.disabled = true;

            checked = false;
        }

    })
</script>

{% endblock %}