@font-face {
    font-family: Montserrat;
    src: url(../fonts/ItalianaMontserrat/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-weight: 500;
    color: #1a1a1a;
}

#header {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 25%;
    margin: 0 10%;
    display: block;
}

#header a {
    margin: 0 10%;
}

#header .fa-user-circle {
    color: black;
}

#header .fa-user-circle:hover {
    color: #cca00f;
}

.user-pane {
    width: 300px;
    height: 120px;
    background: rgb(231, 231, 231);
    font-size: 0.9rem;
    border-radius: 8px;
    position: absolute;
    right: 10%;
    top: 150px;
    padding: 25px 5px 5px;
    box-sizing: border-box;
    display: none;
}

.user-pane .profile {
    width: 290px;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.user-pane a {
    font-size: 1rem;
    color: #cca00f;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.user-pane div {
    display: inline;
    width: 230px;
}

.user-pane i {
    margin-left: 20px;
}

.user-pane .name {
    font-weight: 700;
    color: #1a1a1a;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
}

h3 {
    font-size: 1rem;
    color: #cca00f;
}

form {
    width: 90%;
    margin: 5% auto;
    display: block;
    position: relative;
}


label {
    display: block;
    padding: 8px 0;
    margin-top: 20px;
}

select {
    width: 300px;
    background: #cca00f54;
    font-weight: 700;
    padding: 5px;
    color: #1a1a1a;
    box-sizing: border-box;
    border-radius: 4px;
}

option {
    background: #dddddd;
    font-weight: 600;
    padding: 3px;
    color: #1a1a1a;
    margin: 10px 0;
}

input {
    width: 300px;
    height: 50px;
    border: 2.5px solid;
    border-radius: 4px;
    padding: 0 15px;
    background-color: rgb(241, 241, 241);
    font-family: Montserrat;
    font-size: 1.1rem;
    font-weight: 700;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: 700;
    height: 55px;
}

form #btn {
    background-color: gray;
    cursor: not-allowed;
}


form .terms-box {
    display: flex;
    align-items: center;
}

form .checkbox-label, form .checkbox {
    display: inline;
}

form .checkbox {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-right: 16px;
}

form .text {
    text-align: center;
    margin: 0;
}

#content {
    width: 350px;
    margin: 5% auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: none;
    box-sizing: border-box;
}

#content h3 {
    font-size: 1rem;
    color: #cca00f;
    text-align: center;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 5% 0;
    background-color: #1a1a1a;
    color: white;
    margin-top: 10%;
}

@media only screen and (max-width: 500px){
    body {
        font-size: 14px;
    }

    input, select, option {
        width: 305px;
        font-size: 14px;
        font-weight: 500;
    }

    .logo {
        width: 35%;
    }

    h1 {
        font-size: 1.4rem;
    }

    form .text {
        width: 270px;
    }

    footer p {
        width: 180px;
        display: inline-block;
        text-align: center;
    }

    #content {
    	padding: 0 5px;
    }

    .user-pane {
        right: 5px;
    }
}

/* styling for feedback */


#content table {
    text-align: left;
    width:305px;
    margin-left: 5%;
}

table .color {
    background: #e7e7e7;
}

.err {
	width: 70%;
	height: auto;
	color: white;
	list-style: none;
}

.danger {
    background: #ff5733;
}

.success {
    background: #8bc34a;
}